.navbar-custom {
    background-color: #fff; /* Background color of the navbar */
}

.navbar-brand {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

.navbar-logo {
    letter-spacing: -6px; /* Adjust the letter spacing to make the letters closer together */
}

.navbar-nav {
    margin-right: 20px; /* Add margin to the right of the navigation links */
}

.navbar-nav .nav-link {
    font-size: 16px; /* Adjust the font size of the navigation links */
    color: #000; /* Text color of the navigation links */
}

.navbar-nav .nav-link:hover {
    color: #0094DA; /* Text color on hover */
}