<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/card_effect.css">
    <link rel="stylesheet" href="/navbar.css">

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <span class="navbar-logo" style="color: #322783;">I</span>
            <span class="navbar-logo" style="color: #0094DA;">O</span>
        </a>

        <!-- Navigation Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Почетна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Студии</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Уписи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Кадар</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <h2>Изработено од: Димитрија Тимески 203235</h2>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>